body {
  background-color: rgb(239, 241, 239);
  font-family: 'Open Sans', sans-serif;
}

.app-container {
  background-color: white;
  border: 1px solid rgb(224, 228, 228);
}

.filters-container {
  padding: 10px;
  border-bottom: 1px solid rgb(224, 228, 228);
  position: relative;
}

.filter-header {
  display: inline-block;
  position: absolute;
  top: 10;
  left: 10;
}

.filter-option {
  display: inline-block;
  margin-left: 120px;
}

.filter-title, .click-state {
  padding: 5px;
  border: 2px solid rgb(102, 187, 192);
  border-radius: 6%;
  display: block;
}

.filter-title:hover, .click-state:hover {
  cursor: pointer;
}

.click-state {
  background: rgb(99, 187, 192);
  color: white;
}

.filter-description {
  color: rgb(145, 145, 145);
  font-size: 12px;
  font-style: italic;
}

.results-item {
  padding: 10px;
  border-top: 1px solid rgb(224, 228, 228);
}

.results-item-title {
  color: rgb(13, 127, 151);
  font-weight: 600;
  margin: 4px 0px 4px 0px;
}

.results-item-user {
  font-weight: 400;
  margin: 4px 0px 4px 0px;
}

.results-item-description {
  font-style: italic;
}
